<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../../../bower_components/shadycss/apply-shim.html">

<dom-module id="aqa-date-picker-light">
    <template>
        <custom-style>
            <style is="custom-style">
                input {
                    font: inherit;
                    outline: none;
                    box-shadow: none;
                    border: none;
                    width: auto;
                    text-align: center;
                    font-size: medium;
                }

                div {
                    font-size: 10px
                }


                .calendar_modern {
                    position: fixed;
                    top: 0;
                    left: 0;
                    display: none;
                }

                .calendar_modern .calendar {
                    margin: auto;
                    width: 245px;
                    height: auto;
                    /* height: 260px; */
                }

                .calendar_modern .calendar .nav {
                    height: 0;
                    position: relative;
                }

                .calendar_modern .calendar .nav i,
                .calendar_modern .calendar .nav b {
                    display: block;
                    font-style: normal;
                    position: absolute;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    z-index: 100;
                    top: 0;
                }

                .calendar_modern .calendar .nav i {
                    left: 0;
                    border-right: 1px solid #423a37;
                    background: url(http://cs4399.userapi.com/u49225742/docs/58f03726ea27/lft.png) no-repeat center center transparent;
                }

                .calendar_modern .calendar .nav b {
                    right: 0;
                    border-left: 1px solid #423a37;
                    background: url(http://cs4399.userapi.com/u49225742/docs/5fd2e9dd3a9f/rgt.png) no-repeat center center transparent;
                }

                .calendar_modern .calendar .month .header {
                    width: 238px;
                    height: 30px;
                    position: relative;
                    font-family: Arial, Helvetica, sans-serif;
                    color: white;
                    line-height: 30px;
                    font-weight: bold;
                    font-size: 1.4em;
                    text-align: center;
                    background: #372f2c;
                    border-radius: 3px;
                }

                .calendar_modern .calendar .month .body {
                    width: 240px;
                    background: #e4e4e4;
                }

                .calendar_modern .calendar .month .body .day_names {

                    height: 25px;
                }

                .calendar_modern .calendar .month .body .day_names i {
                    font-family: Arial, Helvetica, sans-serif;
                    display: block;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    font-style: normal;
                    float: left;
                    width: 34px;
                }

                .calendar_modern .calendar .month .body .days s {
                    font-family: Arial, Helvetica, sans-serif;
                    display: block;
                    float: left;
                    width: 33px;
                    height: 33px;
                    background-color: #ffffff;
                    font-size: 1.5em;
                    font-weight: bold;
                    line-height: 34px;
                    text-align: center;
                    font-style: normal;
                    text-decoration: none;
                    /* table like borders */
                    border-right: 1px solid #aaaaaa;
                    border-bottom: 1px solid #aaaaaa;
                    /* table like borders */
                    cursor: pointer;
                }


                .calendar_modern .calendar .month .body .days s:nth-child(n+1):nth-child(-n+7) {
                    border-top: 1px solid #aaaaaa;
                }

                [i-left] {
                    border-left: 1px solid #aaaaaa;
                }

                [i-select] {
                    color: #3399ff;
                    /* color:#fff; */
                }

                [i-frist],
                [i-last] {
                    color: #8d8d8d;
                }

                [i-current] {
                    color: #000;
                }

                span,
                .n {
                    cursor: pointer
                }
            </style>
        </custom-style>

        <!-- <div slot="dropdown-content" class="box"> -->
        <div id="calendar" class="calendar_modern">
            <div class="calendar">
                <div class="months">
                    <div class="month" data-date="2011.1">
                        <div class="header">
                            <span class="n" on-click="previousYear">&#60&#60</span>&nbsp;&nbsp;
                            <span class="n" on-click="previousMonth">&#60</span>&nbsp;&nbsp;&nbsp;&nbsp;[[monthAndYear]]&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="n" on-click="nextMonth">&#62</span>&nbsp;&nbsp;
                            <span on-click="nextYear" class="n">&#62&#62</span>
                        </div>
                        <div class="body">

                            <div class="day_names">
                                <template is="dom-repeat" items="[[daysOfWeek]]">
                                    <i>[[item]]</i>
                                </template>
                            </div>
                            <div class="days">
                                <template is="dom-repeat" items="[[items]]">
                                    <template is="dom-repeat" as="item2" items="[[item]]">
                                        <s on-click="_selectDate" i-left$="[[_checkLeft(index)]]" i-select$="[[_checkType(item2.type,'select')]]" i-frist$="[[_checkType(item2.type,'frist')]]"
                                            i-current$="[[_checkType(item2.type,'current')]]" i-last$="[[_checkType(item2.type,'last')]]">[[item2.day]]</s>
                                    </template>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </template>

    <script>
        /**
     * `nylon-date-picker`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
        class AqaDatePickerLight extends Polymer.mixinBehaviors([Polymer.IronValidatorBehavior], Polymer.Element) {
            static get is() { return 'aqa-date-picker-light'; }
            static get properties() {
                return {
                    showBc: {
                        type: Boolean,
                        value: false
                    },
                    selected: {
                        type: String,
                        observer: '_selectedChanged',
                        notify: true
                        // value: '2017-09-15',
                        // 2017-1-15
                    },
                    selectedBe: {
                        type: String,
                        observer: '_selectedBeChanged',
                        notify: true,
                        //value:'15/9/2560'
                    },
                    // dayBe: {
                    //     type: String,
                    //     value: '',
                    //     notify: true,
                    // },
                    // monthBe: {
                    //     type: String,
                    //     value: '',
                    //     notify: true,
                    // },
                    // yearBe: {
                    //     type: String,
                    //     value: '',
                    //     notify: true,
                    // },
                    label: {
                        type: String,
                        value: 'Label'
                    },
                    disabled: {
                        type: Boolean,
                        value: false
                    },
                    isClose: {
                        type: Boolean,
                        value: false,
                        notify: true
                    },
                    daysOfWeek: {
                        type: Array,
                        value: ['จัน', 'อัง', 'พุธ', 'พฤ', 'ศุกร์', 'เสาร์', 'อา']
                        // value: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    months: {
                        type: Array,
                        value: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย', 'ต.ค.', 'พ.ย.', 'ธ.ค.']
                    },
                };
            }
            static get observers() {
                return [
                    // 'checkDateBe(dayBe,monthBe,yearBe,dayBe.*)',
                    // 'checkDayLimit(dayBe)',
                    // 'checkMonthLimit(monthBe)',
                ]
            }
            constructor() {
                super()
                this.init()
                this.renderCalendar()
            }
            // check date
            // checkDayLimit(dayBe) {
            //     // console.log('checkDayLimit');
            //     if (Number(dayBe) > this._getlastDateOfCurrentMonth(Number(this.yearBe), Number(this.monthBe - 1))) {
            //         this.set('dayBe', this._getlastDateOfCurrentMonth(Number(this.yearBe), Number(this.monthBe - 1)));
            //     }
            // }
            // checkMonthLimit(monthBe) {
            //     // console.log('checkMonthLimit');
            //     if (Number(this.monthBe) > 12)
            //         this.set('monthBe', new Date().getMonth() + 1)
            // }
            setZeroBefore(day) {
                if (Number(day) > 0 && 10 > Number(day) && day[0] !== '0') {
                    // console.log(1);
                    return '0' + day
                } else {
                    // console.log(2);
                    return day
                }
            }
            // checkDateBe(dayBe, monthBe, yearBe) {
            //     if (dayBe !== undefined && dayBe <= 31 && dayBe !== ''
            //         && monthBe !== undefined && Number(monthBe) <= 12 && monthBe !== ''
            //         && yearBe !== undefined && yearBe !== ''
            //         && !isNaN(dayBe) && !isNaN(monthBe) && !isNaN(yearBe)) {

            //         // dayBe = this.checkDay(dayBe)
            //         // monthBe = this.checkMonth(monthBe)
            //         if (this.showBc) {
            //             this.set('selectedBe', dayBe + '/' + monthBe + '/' + yearBe)
            //         } else {
            //             this.set('selected', yearBe + '-' + monthBe + '-' + dayBe)
            //             // this.selected = (`${yearBe}-${monthBe}-${dayBey}`)
            //         }
            //     }
            // }
            // // end checkDate
            init() {
                // this.daysOfWeek = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                // this.months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

                //xxx
                this.format = 'dd/mm/yyyy'
                // console.log('init');
                var d = new Date()
                this.currentMonth = d.getMonth()
                this.currentYear = d.getFullYear()

                var f = this.format
                if (typeof (f) == 'string') {
                    this.f = f.charAt(0).toUpperCase();
                } else {
                    this.f = 'M';
                }
            }

            renderCalendar() {
                // console.log('renderCalendar');
                // console.log(this.currentYear, this.currentMonth);
                this.calendar(this.currentYear, this.currentMonth)
            }
            _getfirstDayOfCurrentMonth(y, m) {
                // console.log('_getfirstDayOfCurrentMonth');
                return new Date(y, m, 1).getDay()
            }
            _getlastDateOfCurrentMonth(y, m) {
                // console.log('_getlastDateOfCurrentMonth');
                return new Date(y, m + 1, 0).getDate()
            }
            _lastDateOfLastMonth(y, m) {
                // console.log('_lastDateOfLastMonth');
                return m == 0 ? new Date(y - 1, 11, 0).getDate() : new Date(y, m, 0).getDate()
            }
            calendar(y, m) {
                // console.log(11);
                var firstDayOfCurrentMonth = this._getfirstDayOfCurrentMonth(y, m)
                var lastDateOfCurrentMonth = this._getlastDateOfCurrentMonth(y, m)
                var lastDateOfLastMonth = this._lastDateOfLastMonth(y, m)
                // console.log('calendar');
                if (this.months !== undefined && !isNaN(y) && !isNaN(m)) {
                    // if (this.showBc) {
                    var monthandyear = this.months[m] + ' - ' + (y + 543)
                    // } else {
                    //     var monthandyear = this.months[m] + ' - ' + y
                    // }
                    var dm = this.f == 'M' ? 1 : firstDayOfCurrentMonth == 0 ? -5 : 2
                    var p = dm

                    var cellvalue;
                    var dataCal = [];

                    for (var d, i = 0, z0 = 0; z0 < 6; z0++) {
                        var datarow = [];
                        for (var z0a = 0; z0a < 7; z0a++) {
                            d = i + dm - firstDayOfCurrentMonth;

                            if (d < 1) {
                                cellvalue = lastDateOfLastMonth - firstDayOfCurrentMonth + p++;

                                var getM;
                                var getY;
                                if (m == 0) {
                                    getM = 11
                                    getY = y - 1
                                } else {
                                    getM = m - 1
                                    getY = y
                                }

                                datarow.push({ type: 'frist', day: cellvalue, month: getM, year: getY, date: `${getY}-${getM + 1}-${cellvalue}` })
                            } else if (d > lastDateOfCurrentMonth) {

                                var getM;
                                var getY;
                                if (m == 11) {
                                    getM = 0
                                    getY = y + 1
                                } else {
                                    getM = m + 1
                                    getY = y
                                }
                                datarow.push({ type: 'last', day: p, month: getM, year: getY, date: `${getY}-${getM + 1}-${p}` })

                                p++
                            } else {
                                var type = 'current'
                                if (this.selectData)
                                    if (this.selectData.day == d && this.selectData.month == m && this.selectData.year == y)
                                        type = 'select'

                                datarow.push({ type: type, day: d, month: m, year: y, date: `${y}-${m + 1}-${d}` })
                                p = 1;
                            }

                            if (i % 7 == 6 && d >= lastDateOfCurrentMonth) {

                                z0 = 10; // no more rows
                            }

                            i++;
                        }
                        dataCal.push(datarow);
                    }

                    this.monthAndYear = monthandyear
                    this.items = dataCal
                }
            }

            nextMonth() {
                // console.log('nextMonth');
                if (this.currentMonth == 11) {

                    this.currentMonth = 0;
                    this.currentYear = this.currentYear + 1;

                } else {

                    this.currentMonth = this.currentMonth + 1;

                }
                this.renderCalendar()
            }
            previousMonth() {
                // console.log('previousMonth');
                if (this.currentMonth == 0) {

                    this.currentMonth = 11;
                    this.currentYear = this.currentYear - 1;

                } else {

                    this.currentMonth = this.currentMonth - 1;

                }
                this.renderCalendar()
            }
            previousYear() {
                // console.log('previousYear');
                this.currentYear = this.currentYear - 1;
                this.renderCalendar()
            }
            nextYear() {
                // console.log('nextYear');
                this.currentYear = this.currentYear + 1;
                this.renderCalendar()
            }

            _checkType(type, select) {
                // console.log('_checkType');
                return type == select
            }
            _checkLeft(i) {
                // console.log('_checkLeft');
                return i == 0
            }

            _selectDate(e) {
                // console.log('_selectDate');
                // const checkDay = (day) => {
                //     if (Number(day) > 0 && 10 > Number(day) && day[0] !== '0') {
                //         return '0' + day
                //     } else {
                //         return day
                //     }
                // }
                let rawDate = e.model.item2.date.split('-')
                rawDate = rawDate[0] + '-' + rawDate[1] + '-' + this.setZeroBefore(rawDate[2])
                this.set('selected', rawDate)
                this.dispatchEvent(new CustomEvent('setDate', { detail: { model: 'close' } }))

                console.log(111);
                // this.selected = rawDate
                // rawDate = this.setZeroBefore(rawDate[2]) + '/' + rawDate[1] + '/' + Number(rawDate[0]) + 543
                // this.set('selectedBe', rawDate)
                // let date = this.selected
                // let date = rawDate
                // console.log(date.split('-')[1])
                // console.log(this.setZeroBefore(date.split('-')[1]));
                // this.set('dayBe', date.split('-')[2])
                // this.set('monthBe', date.split('-')[1])
                // if (this.showBc) {
                //     this.set('yearBe', Number(date.split('-')[0]) + 543)
                // } else {
                //     this.set('yearBe', Number(date.split('-')[0]))
                // }
                // this.set('isClose', true)
                // this.$.dropdown.close();
            }
            _firstDayOfMonth() {
                // console.log('_firstDayOfMonth');
                new Date(Number(this.data.year) - 543, Number(this.data.month - 1), 1)
            }
            _lastDayOfMonth() {
                // console.log('_lastDayOfMonth');
                new Date(Number(this.data.year) - 543, Number(this.data.month - 1) + 1, 0)
            }
            _checkDateBc(dates) {
                // console.log('_checkDateBc');
                let select = dates.split('/')
                let thisDay = new Date().getDate()
                let thisMonth = new Date().getMonth()
                let thisYear = new Date().getFullYear()
                let date = dates
                if (Number(select[1]) === '' || Number(select[0]) === '' || Number(select[2]) === '')
                    return
                if (Number(select[1]) > 12) {
                    date = `${this.setZeroBefore(select[0])}/${this.setZeroBefore(thisMonth + 1)}/${select[2]}`
                }
                if (Number(select[1].length) <= 1) {
                    date = `${this.setZeroBefore(select[0])}/${this.setZeroBefore(select[1])}/${select[2]}`
                }
                if (Number(select[0]) > this._getlastDateOfCurrentMonth(select[2], select[1] - 1)) {
                    date = `${this.setZeroBefore(thisDay)}/${this.setZeroBefore(select[1])}/${select[2]}`
                }
                if (Number(select[2]) > 9998) {
                    date = `${this.setZeroBefore(select[0])}/${this.setZeroBefore(select[1])}/${thisYear + 543}`
                }
                // if (date !== '') {
                //     this.selectedBe = date
                // }
                return date
            }
            _checkDateDc(dates) {
                // console.log('_checkDateDc');
                let select = dates.split('-')
                let thisDay = new Date().getDate()
                let thisMonth = new Date().getMonth()
                let thisYear = new Date().getFullYear()
                let date = dates
                // month
                if (Number(select[1]) > 12) {
                    date = `${select[0]}-${thisMonth + 1}-${select[2]}`
                }
                // day
                if (Number(select[2]) > this._getlastDateOfCurrentMonth(select[0], select[1] - 1)) {
                    date = `${select[0]}-${select[1]}-${thisDay}`
                }
                //year
                if (Number(select[0]) > 9998) {
                    date = `${thisYear}-${select[1]}-${select[2]}`
                }
                return dates


            }
            _checkDatePassBc(select) {
                // console.log('_checkDatePassBc');
                if (select.length > 2) {
                    return select[2].length >= 4 && select[2] < 9999 &&
                        select[1].length >= 1 && select[1] < 13 &&
                        select[0].length >= 1 && Number(select[0]) <= this._getlastDateOfCurrentMonth(select[2], select[1] - 1)
                } else {
                    return false
                }

            }
            _checkDatePassDc(select) {
                // console.log('_checkDatePassDc');
                if (select.length > 2) {
                    return select[0].length >= 4 && Number(select[0]) < 9999 &&
                        select[1].length >= 1 && Number(select[1]) < 13 &&
                        select[2].length >= 1 && Number(select[2]) <= this._getlastDateOfCurrentMonth(select[2], select[1] - 1)
                } else {
                    return false
                }
            }
            _selectedChanged(selected) {
                // console.log('_selectedChanged');
                //เช็คว่าค่าว่างมาไหม
                // console.log(selected);
                if (selected !== '' && selected !== undefined) {
                    selected = this._checkDateDc(selected)
                    var select = selected.split('-')
                    // console.log(select);
                    // console.log(this._checkDatePassDc(this.selected));
                    if (this._checkDatePassDc(select)) {
                        // console.log(parseInt(select[2]))
                        this.selectData = {
                            day: this.setZeroBefore(select[2]),
                            month: parseInt(select[1]) - 1,
                            year: parseInt(select[0])
                        }
                        this.selectedBe = `${this.selectData.day}/${this.selectData.month + 1}/${this.selectData.year + 543}`
                        this.currentYear = this.selectData.year
                        this.currentMonth = this.selectData.month
                        // console.log(this.selectedBe);
                        this.renderCalendar()
                        // } else {
                        //     // this.set('selected', new Date().toISOString().split('T')[0])
                    }
                }
            }

            _selectedBeChanged(selectedBe) {

                // selectedBe = this._checkDateBc(selectedBe)
                // console.log(selectedBe);
                // console.log(111111111111111);
                // console.log(selectedBe.length);
                if (selectedBe.length < 7)
                    return
                let newData = this._checkDateBc(this._checkDateBc(selectedBe))
                // let newData = selectedBe
                // console.log(newData);
                // console.log(newData.replace(/\//g, ""));
                // console.log(this.child.value);
                this.child.value = newData.replace(/\//g, "")
                var select = newData.split('/')
                // console.log(select);
                // this.set('dayBe', select[0])
                // this.set('monthBe', select[1])
                // if (this.showBc) {
                //     this.set('yearBe', select[2])
                // } else {
                //     this.set('yearBe', Number(select[2]) - 543)
                // }

                if (this._checkDatePassBc(select)) {
                    var selectData = {
                        day: this.setZeroBefore(select[0]),
                        month: this.setZeroBefore(select[1]),
                        year: parseInt(select[2] - 543)
                    }
                    this.selected = (`${selectData.year}-${selectData.month}-${selectData.day}`)
                    // this.value = (`${selectData.year}-${selectData.month}-${selectData.day}`)
                }



            }



        }

        window.customElements.define(AqaDatePickerLight.is, AqaDatePickerLight);
    </script>
</dom-module>