<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../aqa-font/aqa-trirong-font.html">

<dom-module id="aqa-phone">
    <template>
        <style>
            * {
                font-family: TrirongLight;
                box-sizing: border-box;
            }

            .form-group {
                margin-bottom: 20px;
            }

            .form-control {
                -webkit-appearance: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                -moz-appearance: none;

                /* display: block; */
                height: 36px;
                padding: 6px 6px;
                font-size: 1rem;
                line-height: 1.57142857;
                color: #57626D;
                background-color: #fff;
                background-image: none;
                border: 1px solid #e4eaec;
                border-radius: 3px;
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }

            .form-three {
                width: 42px;
            }

            .form-four {
                width: 52px;
            }

            input {
                width: 20px;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                line-height: normal;
                margin: 0;
                font: inherit;
                color: inherit;
                outline: none;
            }

            input:focus {
                border-color: #62a8ea
            }

            input::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #A9A9A9;
            }

            input::-moz-placeholder {
                /* Firefox 19+ */
                color: #A9A9A9;
            }

            input:-ms-input-placeholder {
                /* IE 10+ */
                color: #A9A9A9;
            }

            input:-moz-placeholder {
                /* Firefox 18- */
                color: #A9A9A9;
            }

            label {
                font-weight: 300;
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                color: #000;
            }

            .help-block {
                margin-bottom: 0;
            }

            small {
                font-size: 70%;
                color: #f96868;
            }

            label[has-error] {
                color: #f96868;
            }

            input[has-error] {
                border-color: #f96868 !important;
            }

            label>span {
                color: #f96868;
            }
        </style>
        <div class="form-group">
            <label class="control-label" has-error$="{{hasError}}">[[label]]
                <template is="dom-if" if="[[required]]">
                    <span>*</span>
                </template>
            </label>
            <div>
                <input id="input1" type$="[[type]]" class="form-control form-three" placeholder="[[placeholder]]" on-input="_inputChanged"
                    digi="3" has-error$="{{hasError}}">&nbsp;-
                <input id="input2" type$="[[type]]" class="form-control form-three" placeholder="[[placeholder]]" on-input="_inputChanged"
                    digi="3" has-error$="{{hasError}}">&nbsp;-
                <input id="input3" type$="[[type]]" class="form-control form-four" placeholder="[[placeholder]]" on-input="_inputChanged"
                    digi="4" has-error$="{{hasError}}">
            </div>
            <template is="dom-if" if="[[hasError]]">
                <small class="help-block" data-fv-validator="notEmpty" data-fv-for="username" data-fv-result="INVALID">[[errorMassage]]</small>
            </template>
        </div>
    </template>

    <script>
        class AqaPhone extends Polymer.Element {
            static get is() { return 'aqa-phone' }
            static get properties() {
                return {
                    label: {
                        type: String,
                        value: ""
                    },
                    value: {
                        type: Number,
                        notify: true,
                        value: "",
                        observer:'_valueChanged'
                    },
                    input1: {
                        type: Number,
                        value: ""
                    },
                    input2: {
                        type: Number,
                        value: ""
                    },
                    input3: {
                        type: Number,
                        value: ""
                    },
                    hasError: {
                        type: Boolean,
                        value: false
                    },
                    required: {
                        type: Boolean,
                        value: false
                    },
                    placeholder: {
                        type: String,
                        value: ""
                    },
                    errorMassage: {
                        type: String,
                        value: ""
                    },
                    type: {
                        type: String,
                        value: 'text'
                    }
                }
            }

            validate() {
                this.hasError = false
                // this.value = this.value.trim()
                if (this.required && this.value == "") {
                    this.hasError = true
                }

                return this.hasError
            }

            reset() {
                this.hasError = false
                this.$.value = ""
            }

            _inputChanged(e) {

                var inputId = e.target.getAttribute('id')
                var digi = parseInt(e.target.getAttribute('digi'))

                if (!isNaN(parseInt(e.data)) || e.data==null) {
                    
                    e.target.value = e.target.value.substring(0, digi)
                    this[inputId+"_old"] = e.target.value

                    if (e.target.value.length == digi) {
                        if (inputId == "input1") {
                            this.$.input2.focus()
                        } else if (inputId == "input2") {
                            this.$.input3.focus()
                        }
                    } else if (e.target.value.length == 0) {
                        if (inputId == "input3") {
                            this.$.input2.focus()
                        } else if (inputId == "input2") {
                            this.$.input1.focus()
                        }
                    }

                    this.value = this.$.input1.value + this.$.input2.value + this.$.input3.value

                }else{
                    e.target.value = this[inputId+"_old"]
                }


            }

            _valueChanged(val){
                // console.log(val.substring(0, 3))
                // console.log(val.substring(3, 6))
                // console.log(val.substring(6, 10))
                this.$.input1.value = val.substring(0, 3)
                this.$.input2.value = val.substring(3, 6)
                this.$.input3.value = val.substring(6, 10)
            }


        }

        window.customElements.define(AqaPhone.is, AqaPhone);
    </script>
</dom-module>