<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<dom-module id="address-form-work">
    <template>
        <style include="shared-styles"></style>
        AddressFormWork
    </template>
    <script>
        class AddressFormWork extends Polymer.Element {
            static get is() { return 'address-form-work'; }
            static get properties() {
                return {
                }
            }
        }
        window.customElements.define(AddressFormWork.is, AddressFormWork);
    </script>
</dom-module>