<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../layout/flexbox-grid.html">
<link rel="import" href="../../../../layout/shared-styles.html">
<link rel="import" href="../../../../components/aqa-form/aqa-combo-box.html">
<link rel="import" href="../../../../components/aqa-panel/aqa-panel.html">
<link rel="import" href="../../../../components/aqa-button/aqa-button.html">
<link rel="import" href="../../../../components/aqa-form/aqa-input.html">

<link rel="import" href="../../../../redux-mixin.html">
<link rel="import" href="../../../../i18n/profile/page-02-i18n.html">
<link rel="import" href="../../../../../bower_components/paper-toast/paper-toast.html">

<dom-module id="address-form-contact">
    <template>
        <style include="flexbox-grid shared-styles">

        </style>
        <div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="[[i18n.page02.home_number]]" value="" required></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="[[i18n.page02.village_no]]" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="[[i18n.page02.village_name]]" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4">
                    <aqa-input label="[[i18n.page02.building]]" value=""></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="[[i18n.page02.alley]]" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="[[i18n.page02.road]]" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <aqa-combo-box label="[[i18n.page02.region]]" items="[[regionList]]" item-label-path="label" item-value-path="value" value="{{region_id}}"
                        required></aqa-combo-box>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3">[[checkIsRegion(region_id,region_id.*)]]
                    <aqa-combo-box id="province" label="[[i18n.page02.province]]" items="[[provinceList]]" item-label-path="label" item-value-path="value"
                        value="{{province_id}}" required></aqa-combo-box>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">[[checkIsProvince(province_id,province_id.*)]]
                    <!-- <aqa-input label="อำเภอ / เขต" value="" required></aqa-input> -->
                    <aqa-combo-box label="[[i18n.page02.amphoe]]" items="[[amphoeList]]" item-label-path="label" item-value-path="value" value="{{amphoeList_id}}"
                        required></aqa-combo-box>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">[[checkIsAmphoe(amphoeList_id,amphoeList_id.*)]]
                    <aqa-combo-box label="[[i18n.page02.district]]" items="[[districtList]]" item-label-path="label" item-value-path="value"
                        value=""></aqa-combo-box>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="[[i18n.page02.zipcode]]" value="" required></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="[[i18n.page02.telephone]]" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="[[i18n.page02.fax]]" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input type="phone" label="[[i18n.page02.mobile_phone]]" value="" required></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="[[i18n.page02.email]]" value="" required></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="[[i18n.page02.line_id]]" value=""></aqa-input>
                </div>
            </div>
            <!-- <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2" style="margin:auto 0">
                    <b>ช่วงเวลาที่สามารถติดต่อได้ : </b>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ตั้งแต่เวลา" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ถึงเวลา" value=""></aqa-input>
                </div>
            </div> -->
        </div>


        <paper-toast id="toast" horizontal-align="right" vertical-align="bottom" text="[[i18n.toast.save]]"></paper-toast>


    </template>
    <script>
        class AddressFormContract extends ReduxMixin(Polymer.Element) {
            static get is() { return 'address-form-contact'; }
            static get properties() {
                return {
                    i18n: {
                        type: Object,
                        statePath: 'i18n',
                    },
                    regionList: {
                        statePath: 'profile_page02.region'
                    },
                    provinceList: {
                        statePath: 'profile_page02.province'
                    },
                    amphoeList: {
                        statePath: 'profile_page02.amphoe'
                    },
                    districtList: {
                        statePath: 'profile_page02.district'
                    },
                }
            }
            ready() {
                super.ready()
                var elem = this.$.address
                //this.fadeInDown(elem, 1, 300)
                Polymer.RenderStatus.afterNextRender(this, function () {
                    Nylon.dispatch('PROFILE_02_GET_LIST_REGION')
                    // Nylon.dispatch('PROFILE_02_GET_LIST_PROVINCE')
                    // Nylon.dispatch('PROFILE_02_GET_LIST_AMPHOE')
                    // Nylon.dispatch('PROFILE_02_GET_LIST_DISTRICT')
                });
            }
            checkIsRegion(region_id) {
                if (region_id !== undefined && region_id !== '')
                    Nylon.dispatch('PROFILE_02_GET_LIST_PROVINCE', region_id)
            }
            checkIsProvince(province_id) {
                if (province_id !== undefined && province_id !== '')
                    Nylon.dispatch('PROFILE_02_GET_LIST_AMPHOE', province_id)
            }
            checkIsAmphoe(amphoeList_id) {
                if (amphoeList_id !== undefined && amphoeList_id !== '')
                    Nylon.dispatch('PROFILE_02_GET_LIST_DISTRICT', amphoeList_id)
            }
        }
        window.customElements.define(AddressFormContract.is, AddressFormContract);
    </script>
</dom-module>