<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../layout/flexbox-grid.html">
<link rel="import" href="../../../../layout/shared-styles.html">
<link rel="import" href="../../../../components/aqa-form/aqa-combo-box.html">
<link rel="import" href="../../../../components/aqa-panel/aqa-panel.html">
<link rel="import" href="../../../../components/aqa-button/aqa-button.html">
<link rel="import" href="../../../../components/aqa-form/aqa-input.html">

<link rel="import" href="../../../../redux-mixin.html">

<dom-module id="address-form-contact">
    <template>
        <style include="flexbox-grid shared-styles">
        </style>
        <div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="เลขที่" value="" required></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="หมู่ที่" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="หมู่บ้าน" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4">
                    <aqa-input label="อาคาร" value=""></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ซอย" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="ถนน" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <aqa-combo-box label="ภาค" items="[[regionList]]" item-label-path="label" item-value-path="value" value="{{region_id}}" required></aqa-combo-box>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3">[[checkIsRegion(region_id,region_id.*)]]
                    <aqa-combo-box id="province" label="จังหวัด" items="[[provinceList]]" item-label-path="label" item-value-path="value" value="{{province_id}}"
                        required></aqa-combo-box>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">[[checkIsProvince(province_id,province_id.*)]]
                    <!-- <aqa-input label="อำเภอ / เขต" value="" required></aqa-input> -->
                    <aqa-combo-box label="อำเภอ / เขต" items="[[amphoeList]]" item-label-path="label" item-value-path="value" value="{{amphoeList_id}}"
                        required></aqa-combo-box>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">[[checkIsAmphoe(amphoeList_id,amphoeList_id.*)]]
                    <aqa-combo-box label="ตำบล / แขวง" items="[[districtList]]" item-label-path="label" item-value-path="value" value=""></aqa-combo-box>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="รหัสไปรษณีย์" value="" required></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="โทรศัพท์" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="โทรสาร" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input type="phone" label="โทรศัพท์เคลื่อนที่" value="" required></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="อีเมล" value="" required></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="Line ID" value=""></aqa-input>
                </div>
            </div>
            <!-- <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2" style="margin:auto 0">
                    <b>ช่วงเวลาที่สามารถติดต่อได้ : </b>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ตั้งแต่เวลา" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ถึงเวลา" value=""></aqa-input>
                </div>
            </div> -->
        </div>
    </template>
    <script>
        class AddressFormContract extends ReduxMixin(Polymer.Element) {
            static get is() { return 'address-form-contact'; }
            static get properties() {
                return {
                    regionList: {
                        statePath: 'profile_page02.region'
                    },
                    provinceList: {
                        statePath: 'profile_page02.province'
                    },
                    amphoeList: {
                        statePath: 'profile_page02.amphoe'
                    },
                    districtList: {
                        statePath: 'profile_page02.district'
                    },
                }
            }
            ready() {
                super.ready()
                var elem = this.$.address
                //this.fadeInDown(elem, 1, 300)
                Polymer.RenderStatus.afterNextRender(this, function () {
                    Nylon.dispatch('PROFILE_02_GET_LIST_REGION')
                    // Nylon.dispatch('PROFILE_02_GET_LIST_PROVINCE')
                    // Nylon.dispatch('PROFILE_02_GET_LIST_AMPHOE')
                    // Nylon.dispatch('PROFILE_02_GET_LIST_DISTRICT')
                });
            }
            checkIsRegion(region_id) {
                if (region_id !== undefined && region_id !== '')
                    Nylon.dispatch('PROFILE_02_GET_LIST_PROVINCE', region_id)
            }
            checkIsProvince(province_id) {
                if (province_id !== undefined && province_id !== '')
                    Nylon.dispatch('PROFILE_02_GET_LIST_AMPHOE', province_id)
            }
            checkIsAmphoe(amphoeList_id) {
                if (amphoeList_id !== undefined && amphoeList_id !== '')
                    Nylon.dispatch('PROFILE_02_GET_LIST_DISTRICT', amphoeList_id)
            }
        }
        window.customElements.define(AddressFormContract.is, AddressFormContract);
    </script>
</dom-module>