<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../components/aqa-vaadin-grid/aqa-vaadin-grid.html">
<link rel="import" href="../../../../components/aqa-button/aqa-button.html">
<link rel="import" href="../../../redux-mixin.html">
<link rel="import" href="../../../../components/aqa-tooltip/aqa-tooltip.html">

<link rel="import" href="../../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../components/aqa-icon-button/aqa-icon-button.html">
<link rel="import" href="../../../i18n/profile/page-03-i18n.html">
<link rel="import" href="../../../redux/profile/page-03-redux.html">
<link rel="import" href="../../../../../images/icon-moon-delete.html">
<link rel="import" href="../../../../layout/shared-styles.html">
<dom-module id="education-list">
    <template>
        <style include="shared-styles">
            aqa-button {
                margin: auto;
            }

            paper-icon-button {
                color: #616161
            }

            .btn-delete:hover {
                color: #C62828;
            }

            .btn-edit:hover {
                color: #000000;
            }
        </style>

        <aqa-vaadin-grid>
            <vaadin-grid id="material" items="{{datas}}">
                <vaadin-grid-column width="60px" flex-grow="0">
                    <template class="header">
                        <div class="header" style="text-align: center">[[i18n.common.no]]</div>
                    </template>
                    <template>
                        <div style="text-align: center">[[count(index)]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="200px">
                    <template class="header">
                        <div class="header">
                             [[i18n.page03.academy]]
                        </div>
                    </template>
                    <template>
                        <div>[[item.address_education]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="140px" flex-grow="0">
                    <template class="header">
                        <div class="header">
                             [[i18n.page03.eduLevel]]
                        </div>
                    </template>
                    <template>
                        <div>[[item.level_education]]</div>
                    </template>
                </vaadin-grid-column>
                <!-- <vaadin-grid-column width="140px" flex-grow="0">
                    <template class="header"><div class="header">ชื่อปริญญา (ย่อ)</div></template>
                    <template>
                        <div>[[item.sub_name_education]]</div>
                    </template>
                </vaadin-grid-column> -->
                <vaadin-grid-column width="200px" flex-grow="0">
                    <template class="header">
                        <div class="header">[[i18n.page03.faculty]]</div>
                    </template>
                    <template>
                        <div>[[item.name_faculty]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="200px" flex-grow="0">
                    <template class="header">
                        <div class="header">[[i18n.page03.fieldStudy]]</div>
                    </template>
                    <template>
                        <div>[[item.name_branch]]</div>
                    </template>
                </vaadin-grid-column>
                <!-- <vaadin-grid-column>
                    <template class="header"><div class="header">วิชาเอก</div></template>
                    <template>
                        <div>[[item.name_major]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header"><div class="header">วิชาโท</div></template>
                    <template>
                        <div>[[item.name_major2]]</div>
                    </template>
                </vaadin-grid-column> -->
                <vaadin-grid-column width="100px" flex-grow="0">
                    <template class="header">
                        <div class="header">[[i18n.page03.year]]</div>
                    </template>
                    <template>
                        <div style="text-align: center">[[item.year_education]]</div>
                    </template>
                </vaadin-grid-column>
                <!-- <vaadin-grid-column width="150px">
                    <template class="header">ผู้แก้ไข / วันที่</template>
                    <template> <div style="text-align: center">[[item.edit_name]] [[item.edit_date]]</div></template>
                </vaadin-grid-column> -->
                <vaadin-grid-column width="100px" flex-grow="0">
                    <template class="header">
                        <div class="header">เครื่องมือ</div>
                    </template>
                    <template>
                        <div style="display:flex">
                            <aqa-tooltip label="ดู & แก้ไขรายละเอียด">
                                <paper-icon-button class="btn-edit" icon="create" noink></paper-icon-button>
                            </aqa-tooltip>
                            <aqa-tooltip label="ลบ">
                                <paper-icon-button class="btn-delete" icon="icomoon:bin" noink></paper-icon-button>
                            </aqa-tooltip>
                            <!-- <paper-icon-button class="btn-edit" id="btn-[[index]]" name="แก้ไข" on-tap="getPosition" on-mouseover="updatePosition" icon="create"></paper-icon-button>
                            <paper-icon-button class="btn-delete" id="btns-[[index]]" name="ลบ" on-tap="getPosition" on-mouseover="updatePosition" icon="delete"></paper-icon-button> -->

                        </div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
        </aqa-vaadin-grid>


        <paper-tooltip id="tooltip" position="top" offset="0"></paper-tooltip>
        <div style="display:inline">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div style="margin-top:1rem">จำนวนรายการทั้งหมด [[datas.length]] รายการ </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div style="margin-top:1rem; text-align:right">แก้ไขล่าสุดวันที่ : 25/10/2560 <br> ผู้แก้ไข : รองศาสตร์จารย์บรรเจิด เริศฤดี </div>
                </div>
            </div>


        </div>

    </template>
    <script>
        class EducationList extends ReduxMixin(Polymer.Element) {
            static get is() { return 'education-list'; }
            static get properties() {
                return {
                    i18n: {
                        type: Object,
                        statePath: 'i18n'
                    },
                    datas: {
                        type: Array,
                        value: [
                            {
                                address_education: 'มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ',
                                level_education: 'ปริญญาตรี',
                                sub_name_education: 'คอบ',
                                name_faculty: 'คณะครุศาสตร์อุตสาหกรรม',
                                name_branch: 'คอมพิวเตอร์',
                                name_major: 'เทคโนโลยีคอมพิวเตอร์',
                                name_major2: '',
                                name_education: 'การศึกษาบัณฑิต',
                                year_education: 2560,
                                edit_name: 'ผู้ใช้งาน',
                                edit_date: '2/7/2560'
                            },
                        ]
                    }
                }
            }
            updatePosition(e) {
                this.$.tooltip.textContent = e.currentTarget.getAttribute('name');
                this.$.tooltip.for = e.currentTarget.id;
                this.$.tooltip.updatePosition()
            }
            getPosition(e) {
                console.log(e.currentTarget.positionTarget)
            }
            count(val) {
                return val + 1
            }
        }
        window.customElements.define(EducationList.is, EducationList);
    </script>
</dom-module>