<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../components/aqa-vaadin-grid/aqa-vaadin-grid.html">
<link rel="import" href="../../../../components/aqa-button/aqa-button.html">
<link rel="import" href="../../../../redux-mixin.html">
<link rel="import" href="../../../../components/aqa-tooltip/aqa-tooltip.html">

<link rel="import" href="../../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../components/aqa-icon-button/aqa-icon-button.html">
<link rel="import" href="../../../../i18n/profile/page-09-i18n.html">
<link rel="import" href="../../../../redux/profile/page-09-redux.html">
<link rel="import" href="../../../../../images/icon-moon-delete.html">
<link rel="import" href="../../../../layout/shared-styles.html">

<link rel="import" href="../../../../mixins/common-mixin.html">

<dom-module id="meeting-list">
    <template>
        <style include="shared-styles">
            aqa-button {
                margin: auto;
            }

            paper-icon-button {
                color: #616161
            }

            .btn-delete:hover {
                color: #C62828;
            }

            .btn-edit:hover {
                color: #000000;
            }
        </style>

        <aqa-vaadin-grid>
            <vaadin-grid id="material" items="{{datas}}">
                <vaadin-grid-column width="60px" flex-grow="0">
                    <template class="header">
                        <div class="header" style="text-align: center">[[i18n.common.no]]</div>
                    </template>
                    <template>
                        <div style="text-align: center">[[count(index)]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="20px">
                    <template class="header">
                        <div class="header">
                            [[i18n.page09.project]]
                        </div>
                    </template>
                    <template>
                        <div>[[item.projects]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="200px" flex-grow="0">
                    <template class="header">
                        <div class="header">
                            [[i18n.page09.training_date]]
                        </div>
                    </template>
                    <template>
                        <div>[[changeDate(item.training_date)]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="200px" flex-grow="0">
                    <template class="header">
                        <div class="header">
                            [[i18n.page09.end_training]]
                        </div>
                    </template>
                    <template>
                        <div>[[changeDate(item.end_training)]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="140px" flex-grow="0">
                    <template class="header">
                        <div class="header">[[i18n.page09.hours]]</div>
                    </template>
                    <template>
                        <div>[[item.hours]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="20px">
                    <template class="header">
                        <div class="header">[[i18n.page09.place]]</div>
                    </template>
                    <template>
                        <div>[[item.training_venues]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        <div class="header">[[i18n.page09.file]]</div>
                    </template>
                    <template>
                        <div style="text-align: center">[[item.]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column id="edit" width="100px" flex-grow="0">
                    <template class="header">
                        <div class="header">เครื่องมือ</div>
                    </template>
                    <template>
                        <div style="display:flex">
                            <aqa-tooltip label="ดู & แก้ไขรายละเอียด">
                                <paper-icon-button class="btn-edit" icon="create" noink on-click="_openPanelRight"></paper-icon-button>
                            </aqa-tooltip>
                            <aqa-tooltip label="ลบ">
                                <paper-icon-button class="btn-delete" icon="icomoon:bin" noink on-click="_delete"></paper-icon-button>
                            </aqa-tooltip>
                            <!-- <paper-icon-button class="btn-edit" id="btn-[[index]]" name="แก้ไข" on-tap="getPosition" on-mouseover="updatePosition" icon="create"></paper-icon-button>
                            <paper-icon-button class="btn-delete" id="btns-[[index]]" name="ลบ" on-tap="getPosition" on-mouseover="updatePosition" icon="delete"></paper-icon-button> -->

                        </div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
        </aqa-vaadin-grid>
        <br>
        <!-- <div>
            ไม่มีข้อมูล
        </div> -->

        <paper-tooltip id="tooltip" position="top" offset="0"></paper-tooltip>
        <div style="display:inline">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div style="margin-top:1rem">จำนวนรายการทั้งหมด [[datas.length]] รายการ </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div style="margin-top:1rem; text-align:right">แก้ไขล่าสุดวันที่ : 25/10/2560 <br> ผู้แก้ไข : รองศาสตร์จารย์บรรเจิด เริศฤดี </div>
                </div>
            </div>


        </div>

    </template>
    <script>
        class MeetingList extends CommonMixin(ReduxMixin(Polymer.Element)) {
            static get is() { return 'meeting-list'; }
            static get properties() {
                return {
                    i18n: {
                        type: Object,
                        statePath: 'i18n'
                    },
                    datas: {
                        type: Array,
                        observer:'gwts'
                        // statePath: 'profile09.meeting',
                    }
                }
            }
            gwts(e){
                console.log(e);
            }
            updatePosition(e) {
                this.$.tooltip.textContent = e.currentTarget.getAttribute('name');
                this.$.tooltip.for = e.currentTarget.id;
                this.$.tooltip.updatePosition()
            }
            getPosition(e) {
                console.log(e.currentTarget.positionTarget)
            }
            count(val) {
                return val + 1
            }
            _openPanelRight(e) {
                this.dispatchEvent(new CustomEvent('open_panelRight', {
                    detail:
                    {
                        data: e.model.item,
                        index: e.model.index
                    }
                }))
            }
            _delete(e) {
                // console.log(e.model.index);
                this.dispatchEvent(new CustomEvent('_delete', { detail: { index: e.model.index } }))
            }
        }
        window.customElements.define(MeetingList.is, MeetingList);
    </script>
</dom-module>