<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../components/aqa-font/aqa-mitr-font.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<dom-module id="aqa-button">
    <template>
        <style>
            button:focus {
                outline: 0;
            }

            .btn {
                font-family: MitrLight;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                cursor: pointer;

            }

            .btn-full-width {
                width: 100%;
                height: auto;
            }

            .btn:disabled {
                cursor: no-drop;
                color: #C2C9CE;
                background-color: #F7FAFB;
                border-radius: 0.2rem;
                border: 1px solid #C2C9CE;
            }

            .btn-primary {
                color: white;
                background-color: #4ba4d0;
                border: 1px solid #4ba4d0;
                border-radius: 0.2rem;
            }

            .btn-primary:hover {
                color: white;
                background-color: #64c1ef;
                border: 1px solid #64c1ef;
            }

            .btn-primary:active {
                color: white;
                background-color: #2f8ab7;
                border: 1px solid #2f8ab7;
            }

            .btn-login {
                color: white;
                background-color: #61a8ea;
                border: 1px solid #61a8ea;
                border-radius: 0.2rem;
            }

            .btn-login:hover {
                color: white;
                background-color: #89bceb;
                border: 1px solid #89bceb;
            }

            .btn-login:active {
                color: white;
                background-color: #4a97d9;
                border: 1px solid #4a97d9;
            }

            .btn-success {
                color: white;
                background-color: #59c203;
                border: 1px solid #59c203;
                border-radius: 0.2rem;
            }

            .btn-success:hover {
                color: white;
                background-color: #61d403;
                border: 1px solid #61d403;
            }

            .btn-success:active {
                color: white;
                background-color: #459500;
                border: 1px solid #459500;
            }

            .btn-danger {
                color: white;
                background-color: #d9534f;
                border: 1px solid #d9534f;
                border-radius: 0.2rem;
            }

            .btn-danger:hover {
                color: white;
                background-color: #df6a68;
                border: 1px solid #df6a68;
            }

            .btn-danger:active {
                color: white;
                background-color: #d9534f;
                border: 1px solid #d9534f;
            }

            .btn-default {
                color: white;
                background-color: #c6c9d0;
                border: 1px solid #c6c9d0;
                border-radius: 0.2rem;
            }

            .btn-default:hover {
                color: white;
                background-color: #e1e4eb;
                border: 1px solid #e1e4eb;
            }

            .btn-default:active {
                color: white;
                background-color: #a0a3a9;
                border: 1px solid #a0a3a9;
            }
        </style>

        <button class$="btn btn-[[type]]" disabled$="[[disabled]]" title="ปุ่ม">
            <template is="dom-if" if="[[check_icon(icon)]]">
                <iron-icon icon="[[icon]]"></iron-icon>
            </template>
            <slot></slot>
        </button>


    </template>

    <script>
        class AqaButton extends Polymer.Element {

            static get is() {
                return 'aqa-button';
            }

            static get properties() {
                return {
                    type: {
                        type: String,
                        value: ''
                    },
                    icon: {
                        type: String,
                        value: ''
                    },
                    disabled: {
                        type: Boolean,
                        value: false
                    }
                };
            }
            check_icon(val) {
                if (val) return true;
                else return false
            }
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function () {

                });
            }

        }

        window.customElements.define(AqaButton.is, AqaButton);
    </script>
</dom-module>