<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<dom-module id="aqa-header">
    <template>
        <style>
            .page-header{
                padding: 30px;
                margin-top: 0;
                margin-bottom: 0;
                position: relative;
                border-bottom: none;
                background-color: transparent;
            }
        </style>
        <div class="page-header">
            <slot></slot>
        </div>
    </template>
    <script>
        class AqaHeader extends Polymer.Element {
            static get is() { return 'aqa-header'; }
            static get properties() {
                return {
                }
            }
        }
        window.customElements.define(AqaHeader.is, AqaHeader);

    </script>
</dom-module>