<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../aqa-font/aqa-trirong-font.html">
<dom-module id="aqa-tooltip-section">
    <template>
        <style>
            .tooltip {
                position: fixed;
                top: 0;
                left: 0;
                display: none;
                background-color: #000;
                padding: 5px 10px;
                color: #FFF;
                font-size: 0.7rem;
                border-radius: 5px;
                opacity: 0;
                font-family: TrirongLight;
            }

            .tooltip-visable {
                opacity:0.7;
                transition:opacity 0.3s cubic-bezier(0,0,0.3,1)
            }

            .tooltip::after {
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #000 transparent transparent transparent;
                content: "";
            }
        </style>

        <div id="tooltip" class="tooltip">
            [[label]]
        </div>
    </template>
    <script>
        class AqaTooltipSection extends Polymer.Element {
            static get is() { return 'aqa-tooltip-section'; }
            static get properties() {
                return {
                    label: {
                        type: String,
                        value: 'Tooltip'
                    }
                }
            }
        }
        window.customElements.define(AqaTooltipSection.is, AqaTooltipSection);

    </script>
</dom-module>