<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
 <link rel="import" href="./aqa-tooltip-section.html"> 

<dom-module id="aqa-tooltip">
    <template>
        <style>
            :host {
                display: block
            }   
        </style>
        <slot on-mouseover="_showTooltip" on-mouseout="_hideTooltip"></slot>
    </template>

    <script>
      
        class AqaTooltip extends Polymer.Element {
            
            static get is() {
                return 'aqa-tooltip';
            }

            static get properties() {
                return {
                    label:{
                        type:String
                    }
                };
            }
            ready() {
                super.ready();
            }

            constructor(){
                super()
                if(typeof  window.tooltipSection == "undefined"){
                    window.tooltipSection = document.createElement('aqa-tooltip-section')
                    tooltipSection.setAttribute('id',"tooltipSection")
                    document.querySelector('body').appendChild(tooltipSection)
                }                
            }

            _showTooltip(e){
                var el = this.children[0]
                document.getElementById("tooltipSection").label = this.label
                var tooltip = document.getElementById("tooltipSection").$.tooltip
                tooltip.style.display = 'inline'
                tooltip.style.top = (el.getBoundingClientRect().top - tooltip.offsetHeight - 5) + 'px'
                tooltip.style.left = (el.getBoundingClientRect().left - (tooltip.offsetWidth/2) +  (el.offsetWidth/2)) + 'px'
                tooltip.classList.add('tooltip-visable')
            }

            _hideTooltip(e){
                var tooltip = document.getElementById("tooltipSection").$.tooltip
                tooltip.classList.remove('tooltip-visable')
                tooltip.style.display = 'none'
                tooltip.style.top = '0'
                tooltip.style.left = '0'
            }

        }

        window.customElements.define(AqaTooltip.is, AqaTooltip);
    </script>
</dom-module>