<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html"> -->
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="./flexbox-grid.html">

<link rel="import" href="./nylon-trirong-font.html">
<link rel="import" href="./nylon-cschatthai-font.html">
<link rel="import" href="./nylon-mitr-font.html">


<link rel="import" href="../redux-mixin.html">
<link rel="import" href="../i18n/menu-i18n.html">
<link rel="import" href="../my-icons.html">

<dom-module id="layout-drawer">
    <template>
        <style include="flexbox-grid flexbox-grid-remove-padding"></style>
        <style>
            * {
                font-family: mitr-light, sans-serif;
                -webkit-font-smoothing: antialiased;
            }

             :host {
                display: block;
                z-index: 1;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }

            #drawer {
                z-index: 1
            }

            iron-selector>paper-icon-item {
                cursor: pointer;
                font-family: mitr-light, sans-serif;
                -webkit-font-smoothing: antialiased;
                background-color: #263238;
                color: #727f8a;
            }

            iron-selector>paper-icon-item:hover {
                background-color: #232C33;
            }

            iron-selector>paper-icon-item.iron-selected {
                color: #ffffff;
                background-color: #232C33;
            }

            .title-menu {
                height: 3em;
                padding-left: 1em;
                line-height: 3em;
                background-color: #3583CB;
                color: #BBBFD3;
            }
        </style>


        <template is="dom-repeat" items={{menu}}>
            <div class="title-menu">
                [[i18n.page00.general_information]]
            </div>
            <iron-selector selected="[[page]]" attr-for-selected="name" role="navigation">

                <paper-icon-item name="page-register" href="/register" on-click="_redirect">
                    <iron-icon icon="[[i18n.menu.register.icon]]" slot="item-icon"></iron-icon>
                    [[i18n.menu.register.label]]
                </paper-icon-item>
                <paper-icon-item name="page-profile" href="/profile/ข้อมูลพื้นฐาน" on-click="_redirect">
                    <iron-icon icon="[[i18n.menu.profile.icon]]" slot="item-icon"></iron-icon>
                    [[i18n.menu.profile.label]]
                </paper-icon-item>
                <paper-icon-item name="page-profile" href="/approve" on-click="_redirect">
                    <iron-icon icon="[[i18n.menu.approve.icon]]" slot="item-icon"></iron-icon>
                    [[i18n.menu.approve.label]]
                </paper-icon-item>
            </iron-selector>

        </template>


    </template>

    <script>
        class LayoutDrawer extends ReduxMixin(Polymer.Element) {

            static get is() { return 'layout-drawer'; }

            static get properties() {
                return {
                    page: String,
                    i18n: {
                        statePath: 'i18n'
                    },
                    menu: {
                        type: Array,
                        value: [
                            {
                                x: 1,
                            },
                            {
                                x: 2
                            },
                            // {
                            //     x: 1,
                            // },
                            // {
                            //     x: 2
                            // },
                            // {
                            //     x: 1,
                            // },
                            // {
                            //     x: 2
                            // },
                        ]
                    }
                }
            }

            ready() {
                super.ready()
            }

            toogleMenu() {
                this.$.drawer.toggle();
            }

            _redirect(e) {
                Nylon.redirect(e.currentTarget.getAttribute('href'))
                setTimeout(() => {
                    this.$.drawer.close()
                }, 500)
            }

        }

        window.customElements.define(LayoutDrawer.is, LayoutDrawer);
    </script>
</dom-module>