<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./flexbox-grid.html">

<dom-module id="shared-styles">
  <template>
    <style include="flexbox-grid">
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }


      .nylon-toolbar-selector{
        background-color: #039BE5;
        color: #FFF;
      }


      paper-button{
        height: 36px;
      }
      paper-button.btn-primary{
        background-color: #0388CA;
        color:#FFF;
      }

      paper-button.btn-success{
        background-color: #28A745;
        color:#FFF;
      }

      paper-button.btn-default{
        background-color: #FFF;
        color:#707070;
      }


    </style>
  </template>
</dom-module>
