<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/aqa-font/aqa-trirong-font.html">

<link rel="import" href="./flexbox-grid.html">

<link rel="import" href="../components/aqa-font/aqa-mitr-font.html">

<dom-module id="shared-styles">
  <template>
    <style include="flexbox-grid">
      .page-container {
        padding: 15px;
      }
  
      * {
        font-family: TrirongRegular;
      }   
      .font-MitrLight{
        font-family: MitrLight;
      }
      div[main-title]{
        font-family: MitrLight;
      }

      div.header{
        font-family: MitrLight;
      }
    </style>
  </template>
</dom-module>