<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./flexbox-grid.html">

<dom-module id="shared-styles">
  <template>
    <style include="flexbox-grid">
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }


      .nylon-toolbar-selector {
        background-color: #039BE5;
        color: #FFF;
      }


      paper-button {
        height: 36px;
      }

      paper-button.btn-primary {
        background-color: #0388CA;
        color: #FFF;
      }

      paper-button.btn-success {
        background-color: #28A745;
        color: #FFF;
      }

      paper-button.btn-default {
        background-color: #FFF;
        color: #707070;
      }

      vaadin-grid#material {

        font-family: Roboto, sans-serif;
        --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));

        --vaadin-grid-cell: {
          padding: 0;
        }
        ;

        --vaadin-grid-header-cell: {
          height: 64px;
          color: rgba(0, 0, 0, var(--dark-secondary-opacity));
          font-size: 12px;
        }
        ;

        --vaadin-grid-body-cell: {
          height: 48px;
          color: rgba(0, 0, 0, var(--dark-primary-opacity));
          font-size: 13px;
        }
        ;

        --vaadin-grid-body-row-hover-cell: {
          background-color: var(--paper-grey-200);
        }
        ;

        --vaadin-grid-body-row-selected-cell: {
          background-color: var(--paper-grey-100);
        }
        ;

        --vaadin-grid-focused-cell: {
          box-shadow: none;
          font-weight: bold;
        }
        ;
      }

      vaadin-grid#material .cell {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 56px;
      }

      vaadin-grid#material .cell.last {
        padding-right: 24px;
      }

      vaadin-grid#material .cell.numeric {
        text-align: right;
      }

      vaadin-grid#material paper-checkbox {
        --primary-color: var(--paper-indigo-500);
        margin: 0 24px;
      }

      vaadin-grid#material vaadin-grid-sorter {
        --vaadin-grid-sorter-arrow: {
          display: none !important;
        }
        ;
      }

      vaadin-grid#material vaadin-grid-sorter .cell {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      vaadin-grid#material vaadin-grid-sorter iron-icon {
        transform: scale(0.8);
      }

      vaadin-grid#material vaadin-grid-sorter:not([direction]) iron-icon {
        color: rgba(0, 0, 0, var(--dark-disabled-opacity));
      }

      vaadin-grid#material vaadin-grid-sorter[direction] {
        color: rgba(0, 0, 0, var(--dark-primary-opacity));
      }

      vaadin-grid#material vaadin-grid-sorter[direction=desc] iron-icon {
        transform: scale(0.8) rotate(180deg);
      }
    </style>
  </template>
</dom-module>